<div class="tlr-daikuan-new-content-header">
    <div class="tlr-daikuan-new-content-header-left-bar">
        <tlr-brand-widget></tlr-brand-widget>
    </div>
    <div class="tlr-daikuan-new-content-header-right-bar">
        <div class="tlr-daikuan-new-content-header-help-box">
            <h1>小鑫帮你贷</h1>
            <hr>
            <div>
                <h3>不纠结　贷好车</h3>
            </div>
            <div>
                <a>帮您贷款</a>
            </div>
        </div>
        <div class="tlr-daikuan-new-content-header-summary-box">
            <div class="tlr-daikuan-new-content-header-summary-box-header">
                <div>
                    <div>12,946人</div>
                    正在申请
                </div>
                <div>
                    <div>259.52亿</div>
                    以贷款总额
                </div>
            </div>
            <hr>
            <div class="tlr-daikuan-new-content-header-summary-box-content">
                <div>
                    最近申请
                </div>
                <div>
                    梁女士 丰田金融 额度10.78万
                </div>
            </div>
        </div>
    </div>
    <carousel>
        <slide>
            <a class="tlr-daikuan-new-content-header-img"><img src="app/sheets/imgs/b1.jpg" alt="First slide"></a>
        </slide>
        <slide>
            <a class="tlr-daikuan-new-content-header-img"><img src="app/sheets/imgs/b2.jpg" alt="Second slide"></a>
        </slide>
        <slide>
            <a class="tlr-daikuan-new-content-header-img"><img src="app/sheets/imgs/b3.jpg" alt="Third slide"></a>
        </slide>
        <slide>
            <a class="tlr-daikuan-new-content-header-img"><img src="app/sheets/imgs/b4.jpg" alt="Second slide"></a>
        </slide>
        <slide>
            <a class="tlr-daikuan-new-content-header-img"><img src="app/sheets/imgs/b5.jpg" alt="Third slide"></a>
        </slide>
    </carousel>
</div>