body, div, p, ul, ol, hr {
	padding: 0px;
	margin: 0px;
	font-size: 13px;
}

.tooltip-inner {
	max-width: 1000px !important;
}

.popover {
	max-width: 1000px !important;
}

.popover-inner {
	max-width: 1000px !important;
}

.popover-content {
	max-width: 1000px !important;
}

.my-font-normal {
	font-weight: normal !important;
}

.my-font-small {
	font-size: 11px !important;
	font-weight: normal !important;
}

.my-three-row-framework-header-left-bar {
	float: left;
	width: 50%;
	padding-left: 15px;
}

	.my-three-row-framework-header-left-bar span {
		line-height: 30px;
		cursor: pointer;
	}

	.my-three-row-framework-header-left-bar ul {
		list-style: none;
		float: left;
	}

	.my-three-row-framework-header-left-bar li {
		float: left;
	}

.my-three-row-framework-header-left-bar-first-child {
	margin-right: 10px;
}

.my-three-row-framework-header {
	height: 30px;
	border-bottom: 1px solid #BDBEBD;
}

.my-three-row-framework-header-menu {
	list-style: none;
	float: right;
}

.my-three-row-framework-header-menu-item {
	float: right;
	padding-right: 20px;
	height: 30px;
	line-height: 30px;
	cursor: pointer;
}

	.my-three-row-framework-header-menu-item:first-child {
		padding-right: 0px;
	}

	.my-three-row-framework-header-menu-item a {
		font-weight: bold;
		color: black;
		font-family: arial;
		text-decoration: underline;
	}

.my-drop-button-container {
	width: 80px;
	position: relative;
}

.my-drop-button {
	width: 80px;
	height: 30px;
	line-height: 27px;
	background-color: #398bfb;
	border-color: #398bfb;
	color: white;
}

.my-drop-button-content {
	width: 80px;
	list-style: none;
	position: fixed;
	top: 0px;
	background-color: #f9f9f9;
	border-left: 1px solid #bdbebd;
	border-bottom: 1px solid #bdbebd;
}

	.my-drop-button-content li {
		padding: 5px;
	}

	.my-drop-button-content div {
		text-align: center;
		border-bottom: 1px solid #bdbebd;
	}

	.my-drop-button-content img {
		display: block;
		margin-left: 15px;
	}

	.my-drop-button-content a {
		text-decoration: none;
	}

		.my-drop-button-content a:hover {
			text-decoration: underline;
		}

	.my-drop-button-content .my-drop-button-content-last-item {
		border-bottom: 0px;
	}

.my-weather-brief {
	margin-top: 5px;
}

	.my-weather-brief span {
		margin-right: 5px;
	}

	.my-weather-brief img {
		vertical-align: middle;
		margin-top: -3px;
	}

.my-weather-detail {
	width: 400px;
}
