html {
	color: #000;
	height: 100%;
}

body, ul, ol, li, div, a {
	padding: 0;
	margin: 0;
}

ul, ol {
	list-style: none;
}

body {
	padding-top: 52px;
	padding-left: 150px;
	font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%;
}

input[type="radio"], input[type="checkbox"]{
	margin-top:0px !important;
}

.checkbox{
	min-height:15px !important;
}

hr {
	border-color: #6ebfb8
}

.overflow-hidden{
	overflow: hidden;
}

.login-bar{
	width: 400px;
	position: fixed;
	border-radius: 0;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: black;
}

.login-bar-content{
	color: white;
	width: 100%;   
  	height: 60%;  
	padding:80px; 
}

.login-bar-content label{
	padding-top:5px;
	padding-bottom:5px;
	font-size:1.2em;
}

.login-bar-error{
	color:red;
	font-size:1.2em;
}

.topbar {
	background-color: #0e90d2;
	overflow: visible;
}

.item-clickable {
	cursor: pointer;
}

	.item-clickable:hover {
		background-color: #09608c !important;
	}

.topbar a {
	color: #fff !important;
}

.topbar div {
	background-color: #0e90d2;
}

.topbar img {
	margin-right: 5px;
}

.topbar .glyphicon {
	font-size: 1.5em;
	margin: -3px 5px;
}

.topbar-header {
	font-size: 1.5em;
}

.user-info{
	position:relative;
	width:100px;
}

.user-info-text{
	position: absolute;
    top: 13px;
    left: 45px;
}

.user-info + ul{
	background-color: #0e90d2 !important;
	padding:0px !important;
}

 .navbar-default .navbar-nav>.open>a{
	background-image:none;
	background-color:#09608c !important;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
	background-image:none;
	background-color:#09608c !important;
}

.leftbar {
	border: 2px solid #bfd1e2;
}

.navbar-active {
	background-color: #b5deff !important;
	color: #000 !important;
}

.leftbar a {
	color: #000;
}

.leftbar .panel-heading {
	padding: 5px;
	background-color: #d7e9ff !important;
	background-image: none !important;
	cursor: pointer;
}

.leftbar .panel-title {
	font-size: 14px;
	font-weight: bold;
}

.leftbar .panel-body {
	padding: 15px 0px !important;
}

	.leftbar .panel-body .glyphicon {
		margin-right: 5px;
	}

	.leftbar .panel-body .navbar-nav > li > a {
		padding: 3px 15px;
	}

.leftbar .panel {
	border: 0px;
}

.navbar-fixed-left {
	width: 150px;
	position: fixed;
	border-radius: 0;
	height: 100%;
	top: 52px;
	left: 0px;
}

	.navbar-fixed-left .navbar-nav > li {
		float: none;
		width: 147px;
	}

		.navbar-fixed-left .navbar-nav > li > .dropdown-menu {
			margin-top: -50px;
			margin-left: 150px;
		}

.expander .panel-heading .glyphicon {
	margin-left: 15px;
}

.main-content {
	margin: 0px 2px;
	border: 2px solid #bfd1e2;
	border-bottom: 0px;
	min-height: 100%;
}

.setting-container {
	min-width: 400px;
}

.setting-breadcrumb {
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	border-bottom: 2px solid #bfd1e2;
	background-color: #d7e9ff;
}

	.setting-breadcrumb li {
		float: left;
		margin-right: 5px;
		font-size: 1.3em;
		font-weight: bold;
	}

.setting-grid-action {
	float: right;
}

.grid-checkbox-cell{
	text-align: center;
	height:100%;
	padding-top:8px;
}

.grid-checkbox-cell>input{
	cursor: default !important;
}

.grid-action{
	padding-top: 5px;
	padding-left:5px;
}

.grid-action>a{
	margin:5px;
	cursor: pointer;
	color:black;
}

.grid-action>a:hover{
	color:red;
}

.sub-grid-top-action{
	text-align: right;
}

.setting-grid-action .btn, .sub-grid-top-action .btn {
	margin: 5px;
	padding: 2px 10px;
	background-color: #d4d4d4;
}

.setting-detail-content {
	border-top: 1px #6ebfb8 solid;
	clear: both;
}

.setting-detail-content label{
	padding-top:5px;
	padding-bottom:5px;
}

.setting-detail-content .row{
	font-size:1.2em;
	padding-top:10px;
}

.data-picker>div{
	float:left;
}

.data-picker-action{
	width:80px;
	height: 400px;
	display:table;
	padding-top:40px;
}

.data-picker-content{
	background-color: white;
	border:1px solid #bdbebd;
	height: 400px;
	overflow: auto;
	padding:0px !important;
	width:200px;
}

.data-picker-content li{
	padding: 5px 10px;
	cursor: pointer;
}

.data-picker-content>ul>li:hover{
	background-color:#c9dde1;
}

.data-picker-content li:nth-child(odd){
	background-color: #f5f5f5;
}

.data-picker-content-item-selected{
	background-color: #0e90d2 !important;
}

.data-picker-action>div{
	display: table-row;
	padding:10px;
	text-align: center;
}

.data-picker-action>div>button{
	display:table-cell;
	vertical-align: middle;    
	border:0px;
	background-color: transparent;
}

.data-picker-action>div>button:hover{
	background-color:#E0E0E0;
}

.col-customer .col-md-2{
	padding-left:10px;
	padding-right:5px;
}

.col-customer .col-md-4{
	padding-left:10px;
	padding-right:10px;
}

.my-tree{
	padding-left:20px;
}

.my-grid {
	width: 100%;
	min-height: 550px;
	overflow: hidden;
}

.data-page-container{
	padding:10px;
}

.data-page-container hr{
	margin-top:10px;
	margin-bottom: 10px;
}

 .detail-page-container hr, .report-page-container hr{
	margin-top:-10px;
	margin-bottom: 10px;
 }

 .detail-page-container .my-grid{
	 min-height: 500px;
 }

.detail-page-container .my-sub-grid{
	min-height:100px;
}

.data-page-container .form-control,.data-page-container .btn{
	height:28px;
	font-size: 12px;
	padding:3px 8px;
	float: right;
	width:auto;
	margin-left:10px;
	margin-right:10px;
}

.filter-container{
	overflow: hidden;
}

.filter-container>input{
	padding-right:20px !important;
}

.form-control-feedback{
	position: absolute;
    top: 11px;
    right: 5px;
	cursor: pointer;
}

.multi-select-item{
	padding-left:10px;
}

.multi-select{
	padding-top:0px !important;
}

.multi-select>.filter-container{
	margin-bottom: 0px !important;
}

.multi-select-content{
	max-height: 400px;
	overflow: auto;
}

.multi-select-btn{
	width: 140px !important;
	height: 28px !important;
	font-size:12px;
}

.multi-select-header{
	max-width:100px;
	height:20px;
	overflow:hidden;
	text-overflow: ellipsis;
	word-wrap: normal
}

.multi-select-btn .caret{
	margin-top:8px;
	margin-left:5px;
}

.fill-filter-row{
	margin-top:10px;
	margin-bottom: 10px;
}

.fill-filter-row>div>label{
	width:80px;
	text-align: right;
}

.fill-filter-row .btn{
	padding:0px !important;
	padding-left:10px !important;
	padding-right:10px !important;
	padding-top:2px !important;
	padding-bottom:2px !important;
	line-height: 20px !important;
	font-size:12px !important;
}

.filter-date{
	width:221px;
}

.filter-date>label{
	width:81px;
	text-align:right;
	display: table-cell;
}

.filter-date>input{
	width:140px !important;
	line-height: 28px;
	margin-left:0px;
	margin-right: 0px;
	height: 28px;
	padding:0px;
    padding-left: 5px;
    border-radius: 4px !important;
}

.filter-date>.input-group-addon{
	font-size: 12px !important;
	padding-top:0px;
	padding-left:5px;
	padding-right: 5px;
	padding-bottom: 0px;
}

.datepicker-addon{
	position: absolute;
    top: 4px;
    right: 8px;
	cursor:pointer;
}

@media(min-width:770px){
	.fill-filter-row>div{
		float:left;
		width:40%;
		margin-bottom:10px;
	}

	.fill-filter-row>div:last-child{
		width:20%;
		text-align: center;
	}
}

@media(min-width:1122px){
	.fill-filter-row>div{
		width:23%;
	}

	.fill-filter-row>div:last-child{
		width:8%;
	}
}

.report-page-container .tab-content .nav-tabs>li.active>a{
	background-color:#b5deff;
	border-bottom: 1px solid #ddd !important;
}

.report-page-content>div>.tab-content{
	padding-top:5px;
}

.report-page-content .ui-grid-tree-header-row{
	color:red !important;
}

.report-page-content .tab-icon{
	margin-left:10px;
}

.report-tab-menu .dropdown-menu{
	min-width:100px !important;
}

.report-tab-addon{
	margin-right:15px !important;
}

.report-tab-addon>a{
	padding-left:0px !important;
	padding-right:0px !important;
}

.report-tab-addon .dropdown{
	padding-left: 5px;
	padding-right: 5px;
}

.report-tab-dropdown-show{
	display:block !important;
}
/*.report-page-content .ui-grid-tree-header-row:nth-child(3n){
	color:red !important;
}*/