html {
	color: #000;
	height: 100%;
}

body {
	font: 12px "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    background-color: #F7F0E6;
}

body, ul, ol, li, div, a {
	padding: 0;
	margin: 0;
    color:black
}

ul, ol {
	list-style: none;
}

a:hover {
    text-decoration: none;
    color: orangered;
}

pre {
    background-color: white;
    border: 0;
    font-size: 1.2em;
}

.main-container {
    width: 95%;
    margin: 0 auto;
    overflow: auto;
    min-width: 800px;
    background-image: url(imgs/bj.png);
    background-repeat: no-repeat;
}

.main-title {
    color:red;
    margin-bottom: 50px;
}

.main-nav{
    overflow: hidden;
    margin-bottom: 20px;
}

.main-nav li {
    float: right;
    margin-right: 30px;
}

.main-nav li a {
    color: #540404;
    font-weight: bold;
    font-size: 1.2em;
}

.main-content {
    margin-right: 20px;
    margin-left: -230px;
    min-width: 500px;
    width: 100%;
    float:left;
    overflow: hidden;
}

.main-content-container {
    margin-left: 230px;
    float: none;
    width: auto;
}

.main-right-bar {
    width: 200px;
    float:left;
}

.widget {
    border-radius: 7px;
    background-color: white;
    box-shadow: 1px 1px 2px #A7A8AD;
    padding: 10px;
    margin-bottom: 15px;
}

.widget-title {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px dashed #bdbebd;
    margin-bottom: 10px;
}

.widget-content {

}

.blog {
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-title {
    font-size: 1.7em;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
}

.blog-content {
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.blog-footer {
    text-align: right;
}

.blog-detail-title>h3{
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.blog-detail-content {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.blog-detail-content>p{
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 1.2em;
    line-height: 1.5;
}

.blog-detail-content>pre{
    white-space: pre-wrap;
    word-wrap: break-word;
}