<setting-grid-section title="券商列表" add-event="brokerCtrl.addBroker()" delete-event="brokerCtrl.deleteBroker()" enable-add="brokerCtrl.enableGridAction"
	delete-enable="brokerCtrl.hasRowSelected" grid-option="brokerCtrl.gridOption">
</setting-grid-section>
<setting-detail-section save-event="brokerCtrl.saveBroker()" cancel-event="brokerCtrl.cancel()" action-enable="brokerCtrl.enableGridAction">
	<div class="row">
		<div class="col-md-3">
			<label>券商名称：</label>
		</div>
		<div class="col-md-9">
			<input type="text" class="form-control" ng-model="brokerCtrl.selectedRow.BrokerName" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<label>券商名称：</label>
		</div>
		<div class="col-md-9">
			<textarea class="form-control" rows="4" ng-model="brokerCtrl.selectedRow.BrokerNote" />
		</div>
	</div>
</setting-detail-section>