<div class="data-page-container">
	<div class="container-fluid">
		<div class="col-md-12 overflow-hidden">
			<button class="btn btn-default" ng-disabled="!dataCtrl.enableSaveToDB">存入数据库</button>
			<button class="btn btn-default" ng-disabled="!dataCtrl.enableClearData">清空数据</button>
			<button class="btn btn-default" ng-disabled="dataCtrl.selectedBrokerId==-1">导入数据</button>
			<select class="form-control" ng-model="dataCtrl.selectedBrokerId" ng-change="dataCtrl.selectBroker()" ng-options="broker.BrokerID as broker.BrokerName for broker in dataCtrl.brokers ">
				</select>
		</div>
	</div>
	<hr />
	<div>
		<uib-tabset>
			<uib-tab heading="导入原始数据" select="dataCtrl.setTab(1)">
				<div ui-grid="dataCtrl.importGrid.gridOption" class="my-grid" ui-grid-selection ng-if="dataCtrl.selectedTabIndex==1"></div>
			</uib-tab>
			<uib-tab heading="股票交易" select="dataCtrl.setTab(2)">
				<div ui-grid="dataCtrl.stockFillGrid.gridOption" class="my-grid" ui-grid-selection ng-if="dataCtrl.selectedTabIndex==2"></div>
			</uib-tab>
			<uib-tab heading="数据校验结果" select="dataCtrl.setTab(3)">
				<div ui-grid="dataCtrl.validationGrid.gridOption" class="my-grid" ui-grid-selection ng-if="dataCtrl.selectedTabIndex==3"></div>
			</uib-tab>
		</uib-tabset>
	</div>
</div>