<div class="detail-page-container">
  <fill-filter filter-data-callback="detailCtrl.filterData" export-data-handler="detailCtrl.exportDataHandler()" load-summary="false">
  </fill-filter>
  <hr />
  <div class="detail-page-content">
    <select style="margin-bottom: 10px;" class="form-control" ng-model="detailCtrl.dataType" ng-change="detailCtrl.changeDataType();" ng-options="dataType.value as dataType.title for dataType in detailCtrl.dataTypes ">
				</select>
    <div ui-grid="detailCtrl.fillGrid.gridOption" class="my-grid" ui-grid-selection></div>
  </div>
</div>