<setting-grid-section title="券池列表" add-event="shareHolderCtrl.addShareHolder()" delete-event="shareHolderCtrl.deleteShareHolder()"
    enable-add="shareHolderCtrl.enableGridAction" delete-enable="shareHolderCtrl.hasRowSelected" grid-option="shareHolderCtrl.gridOption">
</setting-grid-section>
<setting-detail-section save-event="shareHolderCtrl.saveShareHolder()" cancel-event="shareHolderCtrl.cancel()" action-enable="shareHolderCtrl.enableGridAction">
    <div class="row">
        <div class="col-md-3">
            <label>股东代码：</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" ng-model="shareHolderCtrl.selectedRow.ShareHolderID" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>信息描述：</label>
        </div>
        <div class="col-md-9">
            <textarea class="form-control" ng-model="shareHolderCtrl.selectedRow.ShareHolderDesc" rows="4" />
        </div>
    </div>
</setting-detail-section>