<setting-grid-section title="券池列表" add-event="symbolCtrl.addSymbol()" delete-event="symbolCtrl.deleteSymbol()" enable-add="symbolCtrl.enableGridAction"
    delete-enable="symbolCtrl.hasRowSelected" grid-option="symbolCtrl.gridOption">
</setting-grid-section>
<setting-detail-section save-event="symbolCtrl.saveSymbol()" cancel-event="symbolCtrl.cancel()" action-enable="symbolCtrl.enableGridAction">
    <div class="row">
        <div class="col-md-3">
            <label>证券代码：</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" ng-model="symbolCtrl.selectedRow.SecurityID" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>证券名称：</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" ng-model="symbolCtrl.selectedRow.SecurityName" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>交易所：</label>
        </div>
        <div class="col-md-9">
            <select class="form-control" ng-model="symbolCtrl.selectedRow.ExchangeName">
                <option value="深交所" selected="selected">深交所</option>
                <option value="上交所" selected="selected">上交所</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>持仓数量：</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" ng-model="symbolCtrl.selectedRow.HoldingAmount" />
        </div>
    </div>
</setting-detail-section>