<setting-grid-section title="券池组列表" add-event="symbolGroupCtrl.addSymbolGroup()" delete-event="symbolGroupCtrl.deleteSymbolGroup()"
    enable-add="symbolGroupCtrl.enableGridAction" delete-enable="symbolGroupCtrl.hasRowSelected" grid-option="symbolGroupCtrl.gridOption">
</setting-grid-section>
<setting-detail-section save-event="symbolGroupCtrl.saveSymbolGroup()" cancel-event="symbolGroupCtrl.cancel()" action-enable="symbolGroupCtrl.enableGridAction">
    <div class="row">
        <div class="col-md-3">
            <label>证券代码：</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" ng-model="symbolGroupCtrl.selectedRow.SecurityGroupID" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>证券名称：</label>
        </div>
        <div class="col-md-9">
            <input type="text" class="form-control" ng-model="symbolGroupCtrl.selectedRow.SecurityGroupName" />
        </div>
    </div>
    <hr />
    <div class="data-picker">
        <div class="data-picker-content">
            <ul>
                <li ng-repeat="selectedItem in symbolGroupCtrl.selectedSecurities" ng-click="symbolGroupCtrl.selectCheckedSecurity(selectedItem, $event)">
                    {{selectedItem.SecurityName}}
                </li>
            </ul>
        </div>
        <div class="data-picker-action">
            <div>
                <button ng-disabled="symbolGroupCtrl.allSecurities.length == 0" ng-click="symbolGroupCtrl.moveAllToLeft()">
                    <span class="glyphicon glyphicon-backward"></span>
                    </button>
            </div>
            <div>
                <button ng-disabled="!symbolGroupCtrl.selectedUncheckedSecurityData.isSelected" ng-click="symbolGroupCtrl.moveToLeft()">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </button>
            </div>
            <div>
                <button ng-disabled="!symbolGroupCtrl.selectedCheckedSecurityData.isSelected" ng-click="symbolGroupCtrl.moveToRight()">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>
            <div>
                <button ng-disabled="symbolGroupCtrl.selectedSecurities.length == 0" ng-click="symbolGroupCtrl.moveAllToRight()">
                    <span class="glyphicon glyphicon-forward"></span>
                </button>
            </div>
        </div>
        <div class="data-picker-content">
            <ul>
                <li ng-repeat="security in symbolGroupCtrl.allSecurities" ng-click="symbolGroupCtrl.selectUncheckedSecurity(security, $event)">
                    {{security.SecurityName}}
                </li>
            </ul>
        </div>
    </div>
</setting-detail-section>