<router-outlet></router-outlet>
<!--<div class="tlr-app">
    <div class="tlr-header">
        <h1 class="tlr-title">春暖花开</h1>
        <nav class="tlr-nav">
            <ul>
                <li>
                    <a routerLink="/message">留言</a>
                </li>
                <li>
                    <a routerLink="/life">生活</a>
                </li>
                <li>
                    <a routerLink="/learn">学习</a>
                </li>
                <li>
                    <a routerLink="/home">首页</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="tlr-content">
        <div class="tlr-main"></div>
    </div>
    <div class="tlr-right-bar">
        <tlr-widget [hasTitle]="false">
            <div class="tlr-widget-content">
                za tun li ren
            </div>
        </tlr-widget>
        <tlr-widget>
            <div class="tlr-widget-title">Title</div>
            <div class="tlr-widget-content">
                Content
            </div>
        </tlr-widget>
        <tlr-widget [hasTitle]="false">
            <div class="tlr-widget-content">
                Another widget without title
            </div>
        </tlr-widget>
    </div>
    <div class="tlr-footer"></div>
</div>-->