<div class="wwj-framework-lbar-container">
    <div class="wwj-framework-lbar-header">
        <ng-content select=".wwj-framework-header"></ng-content>
    </div>
    <div class="wwj-framework-lbar-content">
        <div class="wwj-framework-lbar-content-container">
            <ng-content select=".wwj-framework-content"></ng-content>
        </div>
    </div>
    <div class="wwj-framework-lbar-left-bar">
        <ng-content select=".wwj-framework-left-bar"></ng-content>
    </div>
    <div class="wwj-framework-lbar-footer">
        <ng-content select=".wwj-framework-footer"></ng-content>
    </div>
</div>