<div class="leftbar navbar navbar-fixed-left">
    <div  class="panel-group">
        <expander expander-title="数据处理" expander-collapse="true">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="data" ui-sref-active="navbar-active">
                        <span class="glyphicon glyphicon-import"></span>
                        数据导入
                    </a>
                </li>
                <li>
                    <a ui-sref="detail" ui-sref-active="navbar-active">
                        <span class="glyphicon glyphicon-th-list"></span>
                        交易明细
                    </a>
                </li>
                <li>
                    <a ui-sref="report" ui-sref-active="navbar-active">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        交易统计
                    </a>
                </li>
            </ul>
        </expander>
        <expander expander-title="系统设置" expander-collapse="true">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="setting.user" ui-sref-active="navbar-active">
                        <span class="glyphicon glyphicon-user"></span>
                        用户设置
                    </a>
                </li>
                <li>
					<a ui-sref="setting.symbol" ui-sref-active="navbar-active">
						<span class="glyphicon glyphicon-globe"></span>
						券池设置
					</a>
                </li>
				<li>
					<a ui-sref="setting.broker" ui-sref-active="navbar-active">
						<span class="glyphicon glyphicon-globe"></span>
						券商设置
					</a>
				</li>
                <li>
					<a ui-sref="setting.symbolGroup" ui-sref-active="navbar-active">
						<span class="glyphicon glyphicon-dashboard"></span>
						券池组设置
					</a>
				</li>
                <li>
					<a ui-sref="setting.department" ui-sref-active="navbar-active">
						<span class="glyphicon glyphicon-dashboard"></span>
						部门设置
					</a>
				</li>
            </ul>
        </expander>
    </div>
</div>