.tlr-main{
    width: 100%;
    min-width: 800px;
    position: relative;
    background-color: white;
}

.tlr-top-bar {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #fafafa;
    border-bottom: 1px solid #dfdfdf;
    padding-left: 20px;
    padding-right: 20px;
}

.tlr-top-bar-content{
    float: right;
    height: 100%;
}

.tlr-main-content{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.tlr-nav-logo{
    margin-top: 10px;
    margin-bottom: 10px;
}

.tlr-nav img{
    width: 60px;
}

.tlr-nav-bar {
    height: 40px;
    line-height: 40px;
    background-color: #0BA838;
    padding-left: 50px;
}

.tlr-nav-bar li {
    float: left;
    font-size: 1.5em;
    padding-left: 20px;
    padding-right: 20px;
}

.tlr-nav-bar li>a {
    color: white !important;
}

.tlr-nav-bar li:hover {
    background-color: #36CE3D;
}

.tlr-nav-bar li.tlr-nav-active {
    background-color: #90C53F;
}

.tlr-nav-bar li.tlr-nav-active a{
    color: orangered !important;
}

.tlr-nav-search{
    float: right;
    margin-top: 15px;
}

.tlr-nav-search .input-group{
    position: relative;
    width: 400px;
    height: 34px;
    border: 2px #FF911C solid;
    border-radius: 4px;
    z-index: 200;
}

.tlr-nav-search .input-group input{
    outline: none;
    border-width: 0;
}

a.tlr-addon{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 1px solid #bdbebd;
    border-left: 0px;
    width: 93px;
    height: 34px;
    background-image: url(app/sheets/imgs/search.gif);
    border: none;
}

a.tlr-addon:hover {
    color: orangered !important;
}

.tlr-content{
    padding-top: 10px;
}