<div class="wwj-framework-rbar-container">
    <div class="wwj-framework-rbar-header">
        <ng-content select=".wwj-framework-header"></ng-content>
    </div>
    <div class="wwj-framework-rbar-content">
        <div class="wwj-framework-rbar-content-container">
            <ng-content select=".wwj-framework-content"></ng-content>
        </div>
    </div>
    <div class="wwj-framework-rbar-right-bar">
        <ng-content select=".wwj-framework-right-bar"></ng-content>
    </div>
    <div class="wwj-framework-rbar-footer">
        <ng-content select=".wwj-framework-footer"></ng-content>
    </div>
</div>