<div class="wwj-framework-lrbar-container">
    <div class="wwj-framework-lrbar-header">
        <ng-content select=".wwj-framework-header"></ng-content>
    </div>
    <div class="wwj-framework-lrbar-main">
        <div>
            <div class="wwj-framework-lrbar-left-bar">
                <ng-content select=".wwj-framework-left-bar"></ng-content>
            </div>
            <div class="wwj-framework-lrbar-content">
                <div class="wwj-framework-lrbar-content-container">
                    <ng-content select=".wwj-framework-content"></ng-content>
                </div>
            </div>
            <div class="wwj-framework-lrbar-right-bar">
                <ng-content select=".wwj-framework-right-bar"></ng-content>
            </div>
        </div>
    </div>
    <div class="wwj-framework-lrbar-footer">
        <ng-content select=".wwj-framework-footer"></ng-content>
    </div>
</div>