.wwj-framework-lrbar-container{
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    min-width: 800px;
}

.wwj-framework-lrbar-main{
    display: table;
}

.wwj-framework-lrbar-main>div {
    display: table-row;
}

.wwj-framework-lrbar-content {
    min-width: 500px;
    overflow: hidden;
    display: table-cell;
}

.wwj-framework-lrbar-content-container {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.wwj-framework-lrbar-left-bar,  .wwj-framework-lrbar-right-bar {
    width: 200px;
    display: table-cell;
    vertical-align: top;
}