<title><%-title%></title>
<meta charset="utf-8">
<link href="../sheets/third/bootstrap.min.css" rel="stylesheet">
<link href="../sheets/third/bootstrap-theme.min.css" rel="stylesheet">
<link href="../sheets/third/font-awesome.min.css" rel="stylesheet">
<link href="../sheets/third/ui-bootstrap-csp.css" rel="stylesheet">
<link href="../sheets/third/ui-grid.min.css" rel="stylesheet">
<link href="../sheets/style.css" rel="stylesheet">
<!-- <script src="../scripts/thirdparty/angular.min.js"></script>
<script src="../scripts/thirdparty/ui-bootstrap-tpls.min.js"></script> -->
<script src="../scripts/thirdparty/require.js" data-main="../scripts/config.js"></script>