<!doctype html>
<html>

<head>
	<title>Report</title>
	<link href="../sheets/third/bootstrap.min.css" rel="stylesheet">
	<link href="../sheets/third/bootstrap-theme.min.css" rel="stylesheet">
	<link href="../sheets/style.css" rel="stylesheet">
</head>

<body>
	<form role="form" action="/api/login" method="POST">
		<div class="login-bar">
			<div class="login-bar-content">
				<div class="login-bar-error">
					<P id="errorMessage"><%-errorMessage%><p>
				</div>
				<div class="form-group">
					<label for="username">用户名：</label>
					<input type="text" class="form-control" id="username" name="username" placeholder="user name" onkeyup="clearErrorMessage()"/>
				</div>
				<div class="form-group">
					<label for="password">密码：</label>
					<input type="password" class="form-control" id="password" name="password" placeholder="password"  onkeyup="clearErrorMessage()"/>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-default pull-right">Submit</button>
				</div>
			</div>
		</div>
	</form>
	<script type="text/javascript">
		function clearErrorMessage(){
			document.getElementById("errorMessage").innerHTML="";
		}
	</script>
</body>

</html>