.wwj-lrnav{
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    width: 100%;
    background-color: #78BA00;
    clear: both;
}

.wwj-lrnav>a{
    margin-left: 10px;
    margin-right: 20px;
}

.wwj-lrnav-left{
    float: left;
}

.wwj-lrnav-right{
    float: right;
}